.collection-button {
    z-index: 9999;
    padding: 0 !important;
}
.collection-button img {
    width: 33px;
    margin-top: 6px;
    margin-right: 5px;
    cursor: pointer;
}

.in-collection {
    opacity: 1 !important;
}

.in-collection img {
    cursor: unset !important;
}