{#
/**
 * @file
 * Template for the Metadata column in Social media asset preview page.
 */
#}
<table>
    <tbody>
        <tr>
            <td class="media-style">{{ style.label }}</td>
        </tr>
    <tr>
        <td class="media-actions">
            {{ style.download_link }}
            <div class="media-size">{{ style.width }} &times; {{ style.height }}</div>
        </td>
    </tr>
    </tbody>
</table>
